<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet" />
<h1>Open this page side-by-side in different windows(better if different browser) and try to edit and see what happens</h1>
<h1>Employees</h1>
<div class="loadingIndicator" data-bind="visible: loading()"></div>
<table class="table" data-bind="visible: !loading()">
    <thead>
        <tr>
            <th>Action</th>
            <th>Name</th>
            <th>Sex</th>
            <th>Email</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: employees">
        @*$data is the current employee object*@
        <tr data-bind="template: { name: $root.displayMode, data: $data }">
           
        </tr>
    </tbody>

</table>

<script type="text/html" id="read-template">
    <td><a class="btn" data-bind="click: $root.edit">Edit</a></td>
    <td data-bind="text: Name"></td>
    <td data-bind="text: Sex"></td>
    <td data-bind="text: Email"></td>
    <td data-bind="displayMoney: Salary"></td>

</script>

<script type="text/html" id="edit-template">
    <td><a class="btn btn-success" data-bind="click: $root.done">Edit</a></td>
    <td>
        <input type="text" data-bind="value: Name" /></td>
    <td>
        <input type="text" data-bind="value: Sex" />
    </td>
    <td>
        <input type="text" data-bind="value: Email" /></td>
    <td>
        <input type="text" data-bind="value: Salary" /></td>
</script>

<script type="text/html" id="lock-template">
    <td><a class="btn btn-danger">Locked</a></td>
    <td data-bind="text: Name"></td>
    <td data-bind="text: Email"></td>
    <td data-bind="displayMoney: Salary"></td>
</script>


@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/Scripts/knockout-2.2.1.js"></script>
    <script src="~/Scripts/jquery.signalR-1.0.0.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/App/EmployeeViewModel.js"></script>
    <script src="~/App/CustomBinding.js"></script>
}